<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title><%=htmlWebpackPlugin.options.title || 'Webpack App'%></title>
	</head>
	<body>
    <div id="navbar"></div>
    <div id="vip"></div>
    <div id="activity"></div>
	</body>
</html>
