<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title><%=htmlWebpackPlugin.options.title || 'Webpack App'%></title>
</head>
<body>
	<div class="layout">
		<aside id="menu"></aside>
		<main class="layout vertical layout-main">
			<div id="signin"></div>
			<div id="toolbar"></div>
			<div class="layout-content">
				<div id="vip"></div>
				<div id="activity"></div>
			</div>
		</main>
	</div>
</body>
</html>
